@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
$fontfamily: "Mona Sans";


.header {
  &__container {
    display: flex;
    align-items: center;
    height: 75px;
  }
}
.menu {
  display: flex;
  flex: 1 1 auto;
  margin: 0 10%;
  font-size: 18px;
  &_list {
    display: flex;
    list-style: none;
    margin: 0 50%;
    li {
      margin: 0 18px;
    }
  }
  &__link {
    color: #fff;
  }
  a {
    text-decoration: none;
  }
}

