@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

$fontfamily: "Mona Sans";

body {
  background: #0E1947;
}
.container{
  margin: 0 auto;
  max-width: 1200px;
}
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.page {
  flex: 1 1 auto;
}


$minwidth: 320px;
